workflow.json
{
  "name": "Shivendra - Automated SEO Data Collection and AI Insights",
  "nodes": [
    {
      "parameters": {},
      "id": "start-node",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "url": "https://jsonplaceholder.typicode.com/posts"
      },
      "id": "fetch-node",
      "name": "Fetch SEO Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [400, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "searchResults",
              "value": "={{ $json.organic_results || [] }}",
              "type": "array"
            }
          ]
        }
      },
      "id": "transform-node",
      "name": "Transform Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [600, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "searchResults"
      },
      "id": "split-node",
      "name": "Split Results",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [800, 300]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nlet total = 0;\nitems.forEach(i => total += (i.json.position || 0));\nreturn [{json:{\n  totalPages: items.length,\n  avgPosition: items.length ? (total/items.length).toFixed(2) : 0\n}}];"
      },
      "id": "calc-node",
      "name": "Calculate SEO",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "emailSubject",
              "value": "SEO Report - Shivendra",
              "type": "string"
            },
            {
              "name": "emailBody",
              "value": "=Hello Shivendra,<br><br>Your SEO report is ready.<br><br>Total Pages: {{$json.totalPages}}<br>Average Position: {{$json.avgPosition}}<br><br>Generated by Shivendra",
              "type": "string"
            }
          ]
        }
      },
      "id": "email-prepare",
      "name": "Prepare Email",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "sendTo": "pr.shivendra.1747@gmail.com",
        "subject": "={{ $json.emailSubject }}",
        "message": "={{ $json.emailBody }}"
      },
      "id": "send-email",
      "name": "Send Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [1400, 300]
    }
  ],
  "connections": {
    "Start": {
      "main": [[{ "node": "Fetch SEO Data", "type": "main", "index": 0 }]]
    },
    "Fetch SEO Data": {
      "main": [[{ "node": "Transform Data", "type": "main", "index": 0 }]]
    },
    "Transform Data": {
      "main": [[{ "node": "Split Results", "type": "main", "index": 0 }]]
    },
    "Split Results": {
      "main": [[{ "node": "Calculate SEO", "type": "main", "index": 0 }]]
    },
    "Calculate SEO": {
      "main": [[{ "node": "Prepare Email", "type": "main", "index": 0 }]]
    },
    "Prepare Email": {
      "main": [[{ "node": "Send Email", "type": "main", "index": 0 }]]
    }
  }
}